@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
}
@media screen and (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }
}
header {
  grid-area: header;
  display: inline-block;
}
main {
  grid-area: main;
  padding: 0 70px;
}
footer {
  grid-area: footer;
  padding: 0 70px;
}
.font {
  font-family: space grotesk;
  color: #ffffff;
  background-color: #242424;
  border-radius: 10px;
  border-width: 5px;
  border-color: #0698ec;
  font-size: 10px;
  padding: 10px;
}
.font1 {
  font-size: 20px;
}
.fontStyle {
  font-family: Space Grotesk;
  font-size: 68px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
  text-align: left;
}
.button--hover:hover {
  color: #ffffff;
  background-color: #0698ec;
  cursor: pointer;
}
.imageProgress {
  border-radius: 50%;
  width: 300px;
}
span > * {
  padding: 0 70px;
}
body {
  margin: 0;
  font-family: space grotesk;
  color: #ffffff;
  background-color: black;
}
div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding: 0 70px;
  flex-wrap: wrap;
}
section {
  font-size: 30px;
}
a {
  text-decoration: none;
}
h3 {
  font-size: 30px;
  text-decoration: underline white;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #0698ec;
}
input {
  width: 330px;
  height: 25px;
}
button {
  margin: 7px;
}
