.font {
 font-family: space grotesk; 
 color:#FFFFFF ; 
 background-color:#151515 ;
}
h4 {
font-size: 22px;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.4444444477558136px;
width: 172px;
height: 32px;
gap: 0px;
opacity: 0px;
position: relative;
left: 20px;
bottom: 10px;
}
nav { 
    position: relative;
    left: 980px;
bottom: 70px;
}
div {
    background-color:#242424 ;
    
}
body {
    height: 100vh;
    margin: 0;
     font-family: space grotesk; 
 color:#FFFFFF ; 
 background-color:#151515 
}